.em-page-registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./images/registration_bg.png');
  background-size: cover;
}