.logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }

.em-demo-edit-fields{
  flex: 8;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  background-color: white;
  border-radius: 0.25rem;
  align-items: center;
  min-height: 85vh;
  margin: 15px;
}

.em-demo-queue{
  flex: 3 ;
  margin: 15px;
  border-radius: 0.25rem;
  min-height: 85vh;
  background-color: white;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}
